body {
  background-color: #272727;
  margin: 0;
  font-family: sans-serif; }

.container {
  max-width: 600px;
  margin: 20px auto; }

.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%; }

h1 {
  color: white;
  background-color: steelblue;
  text-align: center;
  margin: 0;
  line-height: 1.1;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0; }

#stripe {
  text-align: center;
  background-color: white;
  height: 30px; }

#colorDisplay {
  font-size: 200%; }

#message {
  display: inline-block;
  width: 20%; }

button {
  border: none;
  background-color: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s; }
  button:hover {
    color: white;
    background-color: steelblue; }

.selected {
  background-color: steelblue;
  color: white; }
